<!DOCTYPE html>
<html lang="en">

yo , live server web vs code le illa!!!!!!



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Home</title>
    <!-- CSS -->

</head>
<style>
    #main-footer {
        color: #FFFFFF;
        font-family: "Segoe UI";
        background: #2B2B2B;
        text-align: center;
        margin-top: 10px;
        padding: 5px;
        bottom: 8px;
    }
    
    body {
        font-family: Verdana, sans-serif;
        #background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-color: black;
    }
    
    html,
    body {
        height: 100%;
    }
    
    .carousel,
    .item,
    .active {
        height: 100%;
    }
    
    .carousel-inner {
        height: 100%;
    }
    
    html,
    body {
        max-width: 150%;
    }
    
    .carousel,
    .item,
    .active {
        max-width: 150%;
    }
    
    .carousel-inner {
        max-width: 150%;
    }
    
    h1 {
        font-size: 72px;
    }
    
    .carousel-caption {
        color: #fff;
        top: 30%;
    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">



                <a class="navbar-brand mr-4" href="/">Express-Medico<i class="fas fa-laptop-medical " style="color:red"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/about">About Us</a>
                        <a class="nav-item nav-link" href="/cancer">Cancer</a>
                        <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
                        <a class="nav-item nav-link" href="/heart">Heart</a>
                        <a class="nav-item nav-link" href="/liver">Liver</a>
                        <a class="nav-item nav-link" href="/kidney">Kidney</a>
                        <a class="nav-item nav-link" href="/Malaria">Malaria</a>
                        <a class="nav-item nav-link" href="/Pneumonia">Pneumonia</a>
                    </div>
                    <!-- Navbar Right Side 
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>-->
                </div>
            </div>
        </nav>
    </header>

    <div class="container">

        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}

        </div>
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">

                    <div class="view">
                        <img class="d-block w-100" src="{{ url_for('static', filename='s2-.jpg') }}" alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h1 class="h1-responsive" style="color:black;"><strong style="font-size: 70px;">Express-Medico<i class="fas fa-laptop-medical " style="color:red"></i></strong></h1>

                        <p style="font-size: 35px;">Making Healthcare Accessible For Everyone</p>
                    </div>

                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="{{ url_for('static', filename='slider-bg-3-.jpg') }}" alt="Second slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h1 class="h1-responsive" style="color:black;"><strong style="font-size: 50px;">The Doctor's Office,REINVENTED</strong></h1>
                        <p style="font-size: 35px;">Making Healthcare Cheaper For Everyone</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="{{ url_for('static', filename='s3-.jpg') }}" alt="Third slide">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h1 class="h1-responsive" style="color:black;"><strong style="font-size: 50px;">Providing HealthCare Solution</strong></h1>
                        <p style="font-size: 35px;">Healthcare at your Desk</p>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <footer id="main-footer">
        Copyright &copy; 2021
    </footer>
    </div>

</html>